.rectangle {
  top: 146px;
  left: 120px;
  border: 1px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 269px;
  height: 285px;
}
.rectangle,
.rectangle1,
.rectangle2 {
  position: absolute;
  border-radius: var(--br-11xs);
}
.rectangle1 {
  top: 451px;
  left: 120px;
  border: 1px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 653px;
  height: 313px;
}
.rectangle2 {
  top: 146px;
  left: 408px;
  background-color: var(--color-mediumaquamarine);
  width: 200px;
  height: 99.95px;
}
.rectangle3 {
  top: 146px;
  left: 768px;
  background-color: var(--color-azure);
  border: 1px solid var(--color-whitesmoke-200);
  width: 120px;
  height: 99.95px;
}
.rectangle3,
.rectangle4,
.rectangle5 {
  position: absolute;
  border-radius: var(--br-11xs);
  box-sizing: border-box;
}
.rectangle4 {
  top: 146px;
  left: 628px;
  background-color: var(--color-azure);
  border: 1px solid var(--color-whitesmoke-200);
  width: 120px;
  height: 99.95px;
}
.rectangle5 {
  top: 451px;
  left: 794px;
  border: 1px solid var(--color-mediumaquamarine);
  width: 234px;
  height: 313px;
}
.rectangle10,
.rectangle6,
.rectangle7,
.rectangle8,
.rectangle9 {
  position: absolute;
  top: 36px;
  border-radius: var(--br-11xs);
  height: 35px;
}
.rectangle6 {
  left: 335px;
  background-color: var(--color-lightcyan);
  width: 245px;
}
.rectangle10,
.rectangle7,
.rectangle8,
.rectangle9 {
  left: 1328px;
  border: 1px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 35px;
}
.rectangle10,
.rectangle8,
.rectangle9 {
  left: 992px;
}
.rectangle10,
.rectangle9 {
  top: 266px;
  left: 408px;
  width: 269px;
  height: 165px;
}
.rectangle10 {
  left: 697px;
  width: 331px;
}
.amount,
.send-to {
  position: absolute;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.41px;
  text-transform: uppercase;
  color: var(--color-gray-400);
}
.send-to {
  top: 345px;
  left: 726px;
  text-align: right;
}
.amount {
  top: 300px;
  left: 871px;
}
.rectangle11,
.rectangle12 {
  position: absolute;
  top: 146px;
  left: 1048px;
  border-radius: var(--br-11xs);
  background-color: var(--color-azure);
  border: 1px solid var(--color-ghostwhite);
  box-sizing: border-box;
  width: 313px;
  height: 477px;
}
.rectangle12 {
  top: 643px;
  height: 120px;
}
.marke {
  letter-spacing: 0.3px;
}
.markets {
  position: absolute;
  top: 466px;
  left: 820px;
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
}
.us {
  letter-spacing: 0.41px;
}
.d {
  letter-spacing: 0.45px;
}
.usd {
  left: 921.5px;
}
.bitcoin-chart,
.btc,
.eur,
.usd {
  position: absolute;
  top: 469px;
  font-size: var(--font-size-2xs);
}
.eur {
  left: 952.75px;
  color: var(--color-darkgray-100);
}
.bitcoin-chart,
.btc {
  left: 984px;
}
.bitcoin-chart {
  top: 473px;
  left: 152px;
  font-size: var(--font-size-xl);
  font-weight: 300;
  color: #43444b;
}
.current-balance,
.dashboard {
  position: absolute;
  letter-spacing: 0.3px;
}
.dashboard {
  top: 37px;
  left: 128px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  color: var(--color-darkslategray-800);
}
.current-balance {
  top: 283px;
  left: 149.5px;
  font-weight: 500;
}
.b {
  top: 391px;
  left: 226px;
  color: #b9b6bb;
  text-align: left;
}
.b,
.bitcoin,
.ethereum,
.eur1,
.litecoin {
  position: absolute;
  letter-spacing: 0.3px;
}
.eur1 {
  top: 391px;
  left: 149px;
  color: var(--color-gray-500);
  text-align: left;
}
.bitcoin,
.ethereum,
.litecoin {
  top: 293px;
  left: 561.5px;
  font-weight: 500;
}
.ethereum,
.litecoin {
  top: 342px;
  left: 560px;
}
.litecoin {
  top: 394px;
  left: 561.5px;
}
.overvie {
  letter-spacing: 0.32px;
}
.w {
  letter-spacing: 0.35px;
}
.overview {
  position: absolute;
  top: 110px;
  left: 120px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-800);
}
.wh-dashboard-child {
  position: absolute;
  top: 175px;
  left: 302px;
  border-radius: var(--br-11xs);
  background-color: var(--color-lightcyan);
  width: 65px;
  height: 76px;
}
.wallets {
  top: 224px;
  left: 313px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-400);
}
.div,
.usd1,
.wallets {
  position: absolute;
}
.div {
  top: 303px;
  left: 149px;
  font-size: 48px;
  letter-spacing: 0.33px;
  font-weight: 300;
  color: var(--color-gray-500);
  text-align: left;
}
.usd1 {
  top: 301px;
  left: 290px;
  letter-spacing: 0.26px;
  color: var(--color-darkslategray-600);
}
.div1,
.div2 {
  left: 489px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
  text-align: left;
}
.div1 {
  position: absolute;
  top: 285px;
  font-weight: 300;
}
.div2 {
  top: 334px;
}
.div2,
.div3,
.div4 {
  position: absolute;
  font-weight: 300;
}
.div3 {
  top: 386px;
  left: 489px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.3px;
  color: var(--color-gray-500);
  text-align: left;
}
.div4 {
  top: 181px;
  left: 325px;
  font-size: var(--font-size-15xl);
  color: var(--color-gray-400);
}
.transactions {
  top: 225px;
  left: 146px;
  letter-spacing: 0.3px;
  color: var(--color-darkslategray-400);
}
.dash,
.div5,
.transactions {
  position: absolute;
}
.div5 {
  top: 180px;
  left: 149px;
  font-size: var(--font-size-15xl);
  font-weight: 300;
  color: var(--color-gray-500);
  text-align: left;
}
.dash {
  top: 115px;
  left: 20px;
  font-size: var(--font-size-smi);
  display: none;
  color: #5b5d65;
}
.nikita-resheteev {
  position: absolute;
  top: 44px;
  left: 1254px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.search,
.transactions1 {
  position: absolute;
  top: 46px;
  left: 347px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-400);
}
.transactions1 {
  top: 167px;
  left: 1067px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-800);
  text-align: left;
}
.bitcoi {
  letter-spacing: 0.34px;
}
.n {
  letter-spacing: 0.39px;
}
.bitcoin1,
.div6 {
  position: absolute;
  top: 214px;
  left: 424px;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-gray-400);
}
.div6 {
  top: 206px;
  left: 516px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-600);
}
.wh-dashboard-item {
  position: absolute;
  top: 287.24px;
  left: 432.24px;
  width: 29.51px;
  height: 29.51px;
}
.wh-dashboard-inner {
  position: absolute;
  top: 336.74px;
  left: 432.74px;
  width: 29.01px;
  height: 29.01px;
}
.dasheur {
  top: 517px;
  left: 825.5px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.3px;
  color: var(--color-darkgray-100);
}
.dasheur,
.div7,
.eur2 {
  position: absolute;
}
.eur2 {
  top: 534px;
  left: 823.5px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  color: var(--color-darkslategray-500);
  text-align: left;
}
.div7 {
  top: 516px;
  left: 884px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.41px;
  color: var(--color-dimgray-200);
}
.rectangle-div {
  position: absolute;
  top: 562px;
  left: 820px;
  background-color: var(--color-whitesmoke-200);
  width: 182px;
  height: 1px;
}
.etheur {
  top: 582px;
  left: 824.5px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.3px;
  color: var(--color-darkgray-100);
}
.div8,
.etheur,
.eur3 {
  position: absolute;
}
.eur3 {
  top: 599px;
  left: 823.5px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  color: var(--color-darkslategray-500);
  text-align: left;
}
.div8 {
  top: 581px;
  left: 877.5px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.41px;
  color: var(--color-dimgray-200);
}
.wh-dashboard-child1 {
  position: absolute;
  top: 627px;
  left: 820px;
  background-color: var(--color-whitesmoke-200);
  width: 182px;
  height: 1px;
}
.ltceur {
  position: absolute;
  top: 646px;
  left: 824.5px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.3px;
  color: var(--color-darkgray-100);
}
.span6 {
  font-weight: 300;
}
.div9,
.eur4 {
  position: absolute;
}
.eur4 {
  top: 663px;
  left: 823.5px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  color: var(--color-darkslategray-500);
  text-align: left;
}
.div9 {
  top: 645px;
  left: 877.5px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.41px;
  color: var(--color-dimgray-200);
}
.wh-dashboard-child2 {
  position: absolute;
  top: 691px;
  left: 820px;
  background-color: var(--color-whitesmoke-200);
  width: 182px;
  height: 1px;
}
.btceur {
  top: 711px;
  left: 825.5px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.3px;
  color: var(--color-darkgray-100);
}
.btceur,
.div10,
.eur5 {
  position: absolute;
}
.eur5 {
  top: 728px;
  left: 823.5px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.3px;
  color: var(--color-darkslategray-500);
  text-align: left;
}
.div10 {
  top: 710px;
  left: 877.5px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.41px;
  color: var(--color-dimgray-200);
}
.dec-2018,
.valuecash-announces {
  position: absolute;
  left: 1071px;
  text-align: left;
  display: inline-block;
}
.valuecash-announces {
  top: 688px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.35px;
  color: var(--color-gray-400);
  width: 252px;
}
.dec-2018 {
  top: 731px;
  letter-spacing: 0.3px;
  color: var(--color-darkgray-100);
  width: 103.5px;
}
.all {
  left: 1226px;
  color: var(--color-darkslategray-800);
}
.all,
.recent,
.send {
  position: absolute;
  top: 170px;
  font-size: var(--font-size-2xs);
}
.send {
  left: 1256.5px;
  letter-spacing: 0.41px;
}
.recent {
  left: 1296px;
}
.my-wallets,
.news {
  position: absolute;
  top: 655px;
  left: 1067px;
  font-size: var(--font-size-base);
  letter-spacing: 0.3px;
  color: var(--color-gray-400);
}
.my-wallets {
  top: 109px;
  left: 408px;
  color: var(--color-darkslategray-800);
}
.group-child,
.group-icon {
  position: absolute;
  top: 155px;
  left: 564px;
  width: 35px;
  height: 35px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--primary-contrast);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
}
.shape-icon {
  position: absolute;
  top: 8.75px;
  left: 9.84px;
  width: 15.31px;
  height: 17.5px;
}
.rectangle-parent,
.wh-dashboard-child3 {
  position: absolute;
  top: 156px;
  left: 841px;
  width: 35px;
  height: 35px;
}
.wh-dashboard-child3 {
  top: 155px;
  left: 703px;
}
.btc1,
.ethereum1 {
  position: absolute;
  top: 167px;
  left: 424px;
  letter-spacing: 0.26px;
  color: var(--color-gray-400);
}
.ethereum1 {
  top: 214px;
  left: 642px;
  font-size: var(--font-size-base);
  letter-spacing: 0.34px;
  font-weight: 300;
  color: var(--color-darkslategray-800);
}
.eth {
  top: 167px;
  left: 642px;
  letter-spacing: 0.26px;
  color: var(--color-darkslategray-600);
}
.eth,
.litecoin1,
.ltc {
  position: absolute;
}
.litecoin1 {
  top: 214px;
  left: 784px;
  font-size: var(--font-size-base);
  letter-spacing: 0.34px;
  font-weight: 300;
  color: var(--color-darkslategray-800);
}
.ltc {
  top: 167px;
  left: 785px;
  letter-spacing: 0.26px;
  color: var(--color-darkslategray-600);
}
.rectangle13 {
  position: absolute;
  top: 146px;
  left: 908px;
  border-radius: var(--br-11xs);
  background-color: var(--color-azure);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 120px;
  height: 99.95px;
}
.group-div {
  position: absolute;
  top: 156px;
  left: 981px;
  width: 35px;
  height: 35px;
}
.dash1,
.dash2 {
  position: absolute;
  left: 925px;
}
.dash1 {
  top: 214px;
  font-size: var(--font-size-base);
  letter-spacing: 0.34px;
  font-weight: 300;
  color: var(--color-darkslategray-800);
}
.dash2 {
  top: 167px;
  letter-spacing: 0.26px;
  color: var(--color-darkslategray-600);
}
.shape-icon1 {
  position: relative;
  width: 21.32px;
  height: 12.74px;
}
.wh-dashboard-child4 {
  position: absolute;
  top: 386px;
  left: 319px;
  border-radius: var(--br-sm);
  border: 2px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 47px;
  height: 23px;
}
.buy,
.dd-wallet {
  position: absolute;
  letter-spacing: 0.3px;
  font-weight: 500;
}
.buy {
  top: 390px;
  left: 332px;
  color: #252529;
}
.dd-wallet {
  top: 109px;
  left: 958.5px;
  color: var(--color-darkslategray-800);
}
.wh-dashboard-child5 {
  position: absolute;
  top: 335px;
  left: 782px;
  border-radius: var(--br-11xs);
  background-color: var(--color-azure);
  width: 231px;
  height: 29px;
}
.wallet1 {
  position: absolute;
  top: 300px;
  left: 730px;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.41px;
  text-transform: uppercase;
  color: var(--color-gray-400);
  text-align: right;
}
.receice-bitcoin {
  position: absolute;
  top: 391px;
  left: 781px;
  letter-spacing: 0.3px;
  font-weight: 500;
}
.wh-dashboard-child6,
.wh-dashboard-child7 {
  position: absolute;
  top: 292px;
  left: 782px;
  border-radius: var(--br-11xs);
  background-color: var(--color-azure);
  width: 65px;
  height: 29px;
}
.wh-dashboard-child7 {
  left: 930px;
  width: 83px;
}
.wh-dashboard-child8 {
  position: absolute;
  top: 386px;
  left: 956px;
  border-radius: var(--br-sm);
  border: 2px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 57px;
  height: 23px;
}
.btc2,
.div11 {
  top: 300px;
  color: var(--color-gray-400);
  text-align: left;
}
.btc2 {
  position: absolute;
  left: 793px;
  letter-spacing: 0.3px;
}
.div11 {
  left: 940px;
}
.cs4wu6pu5qcz35bslnv,
.div11,
.send1 {
  position: absolute;
  letter-spacing: 0.3px;
}
.cs4wu6pu5qcz35bslnv {
  top: 343px;
  left: 790px;
  color: var(--color-darkslategray-400);
  text-align: left;
  display: inline-block;
  width: 213px;
}
.send1 {
  top: 390px;
  left: 971px;
  font-weight: 500;
  color: var(--color-gray-400);
}
.mask-icon {
  position: absolute;
  top: 47px;
  left: 1003px;
  width: 14px;
  height: 14px;
}
.mask-icon1,
.object-icon {
  position: relative;
  width: 7.27px;
  height: 14.25px;
}
.object-icon {
  position: absolute;
  top: 300px;
  left: 834px;
}
.mask-icon2 {
  position: relative;
  width: 18px;
  height: 12px;
}
.mask-icon3,
.object-icon1 {
  position: relative;
  width: 16px;
  height: 16px;
}
.object-icon1 {
  position: absolute;
  top: 46px;
  left: 1338px;
}
.mask-icon4,
.object-icon2 {
  position: relative;
  width: 4px;
  height: 16px;
}
.object-icon2 {
  position: absolute;
  top: 111px;
  left: 193px;
}
.mask-icon5,
.object-icon3 {
  position: relative;
  width: 17.49px;
  height: 17.49px;
}
.object-icon3 {
  position: absolute;
  top: 44px;
  left: 553px;
}
.wh-dashboard-child9 {
  position: absolute;
  top: 477px;
  left: 611px;
  border-radius: var(--br-sm);
  background-color: var(--color-whitesmoke-100);
  width: 37px;
  height: 23px;
}
.m {
  left: 585px;
}
.all1,
.m,
.m1,
.m2,
.y {
  position: absolute;
  top: 481px;
  letter-spacing: 0.3px;
  font-weight: 500;
}
.m1 {
  left: 620px;
  color: var(--color-gray-400);
}
.all1,
.m2,
.y {
  left: 657px;
}
.all1,
.y {
  left: 693px;
}
.all1 {
  left: 726px;
}
.dec,
.dec1,
.jan,
.k,
.k1,
.k2,
.k3,
.k4,
.nov,
.nov1,
.oct {
  position: absolute;
  top: 569.65px;
  left: 144px;
  font-size: var(--font-size-3xs);
  letter-spacing: 0.25px;
  font-weight: 500;
  display: inline-block;
  width: 39px;
}
.dec,
.dec1,
.jan,
.k1,
.k2,
.k3,
.k4,
.nov,
.nov1,
.oct {
  top: 532.2px;
}
.dec,
.dec1,
.jan,
.k2,
.k3,
.k4,
.nov,
.nov1,
.oct {
  top: 607.1px;
}
.dec,
.dec1,
.jan,
.k3,
.k4,
.nov,
.nov1,
.oct {
  top: 644.55px;
}
.dec,
.dec1,
.jan,
.k4,
.nov,
.nov1,
.oct {
  top: 682px;
}
.dec,
.dec1,
.jan,
.nov,
.nov1,
.oct {
  top: 716px;
  left: 209px;
}
.dec,
.dec1,
.jan,
.nov,
.nov1 {
  left: 309px;
}
.dec,
.dec1,
.jan,
.nov1 {
  left: 409px;
}
.dec,
.dec1,
.jan {
  left: 509px;
}
.dec1,
.jan {
  left: 609px;
}
.jan {
  left: 709px;
}
.wh-dashboard-child10,
.wh-dashboard-child11,
.wh-dashboard-child12,
.wh-dashboard-child13,
.wh-dashboard-child14 {
  position: absolute;
  top: 539px;
  left: 200px;
  background-color: var(--color-whitesmoke-200);
  width: 539px;
  height: 1px;
}
.wh-dashboard-child11,
.wh-dashboard-child12,
.wh-dashboard-child13,
.wh-dashboard-child14 {
  top: 576.25px;
}
.wh-dashboard-child12,
.wh-dashboard-child13,
.wh-dashboard-child14 {
  top: 613.5px;
}
.wh-dashboard-child13,
.wh-dashboard-child14 {
  top: 650.75px;
}
.wh-dashboard-child14 {
  top: 688px;
}
.wh-dashboard-child15 {
  position: absolute;
  top: 689px;
  left: 224px;
  background-color: var(--color-darkslategray-700);
  width: 1px;
  height: 4px;
}
.wh-dashboard-child16,
.wh-dashboard-child17,
.wh-dashboard-child18,
.wh-dashboard-child19,
.wh-dashboard-child20 {
  position: absolute;
  top: 689px;
  left: 325.4px;
  background-color: var(--color-darkslategray-700);
  width: 1px;
  height: 4px;
}
.wh-dashboard-child17,
.wh-dashboard-child18,
.wh-dashboard-child19,
.wh-dashboard-child20 {
  left: 426.8px;
}
.wh-dashboard-child18,
.wh-dashboard-child19,
.wh-dashboard-child20 {
  left: 528.2px;
}
.wh-dashboard-child19,
.wh-dashboard-child20 {
  left: 629.6px;
}
.wh-dashboard-child20 {
  left: 731px;
}
.path-4-icon {
  position: absolute;
  top: 564.85px;
  left: 203px;
  width: 536.42px;
  height: 109.25px;
}
.group-inner,
.object-icon4,
.object-icon5,
.object-icon6 {
  position: absolute;
  top: 293px;
  left: 648px;
  width: 4px;
  height: 16px;
}
.group-inner,
.object-icon5,
.object-icon6 {
  top: 342px;
}
.group-inner,
.object-icon6 {
  top: 392px;
}
.group-inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--primary-contrast);
}
.span7 {
  letter-spacing: 0.25px;
}
.dec-20182 {
  letter-spacing: 0.21px;
}
.dec-20181 {
  position: absolute;
  top: calc(50% - 21px);
  left: 3.99%;
  font-size: var(--font-size-3xs);
}
.btc3 {
  position: absolute;
  top: calc(50% - 23px);
  left: 71.38%;
  color: var(--color-darkgray-100);
  text-align: right;
}
.group,
.mask-icon9 {
  position: absolute;
  overflow: hidden;
}
.mask-icon9 {
  height: 11.11%;
  width: 4.35%;
  top: 22.22%;
  right: 30.07%;
  bottom: 66.67%;
  left: 65.58%;
  max-width: 100%;
  max-height: 100%;
}
.group {
  top: 213px;
  left: 1066px;
  width: 276px;
  height: 72px;
  color: var(--color-gray-400);
}
.dec-20183 {
  position: absolute;
  top: calc(50% - 21px);
  left: 4.17%;
  font-size: var(--font-size-3xs);
}
.fum1abgcnc4y5tskdb {
  position: absolute;
  width: 84.78%;
  top: calc(50% + 10px);
  left: 5.8%;
  letter-spacing: 0.3px;
  color: var(--color-darkslategray-400);
  text-align: left;
  display: inline-block;
}
.group1 {
  position: absolute;
  top: 293px;
  left: 1066px;
  width: 276px;
  height: 72px;
  overflow: hidden;
  color: var(--color-darkslategray-300);
}
.dec-20185 {
  position: absolute;
  top: calc(50% - 21px);
  left: 5.8%;
  font-size: var(--font-size-3xs);
}
.btc5 {
  position: absolute;
  top: calc(50% - 23px);
  left: 76.45%;
  color: var(--color-darkgray-100);
  text-align: right;
}
.m5tdpv8g6yfckkrneyh {
  position: absolute;
  width: 86.59%;
  top: calc(50% + 10px);
  left: 5.8%;
  letter-spacing: 0.3px;
  display: inline-block;
}
.mask-icon11 {
  height: 11.11%;
  width: 4.35%;
  top: 22.22%;
  right: 25%;
  bottom: 66.67%;
  left: 70.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.btc6,
.group2,
.mask-icon11 {
  position: absolute;
}
.group2 {
  top: 373px;
  left: 1066px;
  width: 276px;
  height: 72px;
  overflow: hidden;
  text-align: left;
  color: var(--color-darkslategray-300);
}
.btc6 {
  top: calc(50% - 23px);
  left: 66.3%;
  color: var(--color-darkgray-100);
  text-align: right;
}
.p9rqer2xee3peb44ze3 {
  position: absolute;
  width: 84.78%;
  top: calc(50% + 10px);
  left: 5.8%;
  letter-spacing: 0.3px;
  color: var(--color-darkslategray-400);
  display: inline-block;
}
.group3,
.mask-icon12 {
  position: absolute;
  overflow: hidden;
}
.mask-icon12 {
  height: 11.11%;
  width: 4.35%;
  top: 22.22%;
  right: 34.78%;
  bottom: 66.67%;
  left: 60.87%;
  max-width: 100%;
  max-height: 100%;
}
.group3 {
  top: 453px;
  left: 1066px;
  width: 276px;
  height: 72px;
  text-align: left;
  color: var(--color-darkslategray-300);
}
.agm6jc43fuayrkm8wj2,
.ltc1 {
  position: absolute;
  letter-spacing: 0.3px;
}
.ltc1 {
  top: calc(50% - 23px);
  left: 77.17%;
  color: var(--color-darkgray-100);
  text-align: right;
}
.agm6jc43fuayrkm8wj2 {
  width: 90.58%;
  top: calc(50% + 10px);
  left: 5.8%;
  color: var(--color-darkslategray-400);
  display: inline-block;
}
.mask-icon13 {
  height: 11.11%;
  width: 4.35%;
  top: 22.22%;
  right: 24.64%;
  bottom: 66.67%;
  left: 71.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group4,
.mask-icon13,
.oval-5 {
  position: absolute;
}
.group4 {
  top: 533px;
  left: 1066px;
  width: 276px;
  height: 72px;
  overflow: hidden;
  text-align: left;
  color: var(--color-darkslategray-300);
}
.oval-5 {
  top: 383px;
  left: 433px;
  border-radius: 50%;
  border: 2px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 28.51px;
  height: 28.51px;
}
.oval-4-icon {
  position: absolute;
  top: 405.59px;
  left: 446.95px;
  width: 10.73px;
  height: 6.27px;
}
.path-2-icon,
.path-8-icon {
  position: absolute;
  top: 531.9px;
  left: 934.56px;
  width: 70.5px;
  height: 7.95px;
}
.path-2-icon {
  top: 575.17px;
  left: 934.15px;
  width: 71.22px;
  height: 27.13px;
}
.path-10-icon,
.path-5-icon {
  position: absolute;
  top: 644.23px;
  left: 934.28px;
  width: 70.9px;
  height: 21.29px;
}
.path-10-icon {
  top: 704.1px;
  left: 932.88px;
  width: 70.54px;
  height: 33.8px;
}
.support {
  position: absolute;
  top: calc(50% - 7.5px);
  left: 39.06%;
  letter-spacing: 0.3px;
  font-weight: 500;
}
.mask-icon14 {
  position: relative;
  width: 14px;
  height: 14px;
}
.object-icon7 {
  position: absolute;
  height: 40%;
  width: 14.58%;
  top: 30%;
  right: 70.31%;
  bottom: 30%;
  left: 15.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xs);
  border: 1px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
}
.support-parent {
  position: absolute;
  top: 36px;
  left: 883.5px;
  width: 96px;
  height: 35px;
  overflow: hidden;
}
.frame-item,
.rectangle14 {
  position: absolute;
  height: 99.88%;
  width: 97.83%;
  top: 0;
  right: 2.11%;
  bottom: 0.12%;
  left: 0.07%;
  background-color: var(--color-whitesmoke-100);
}
.frame-item {
  height: 7.53%;
  top: 18.55%;
  bottom: 73.92%;
  background-color: var(--color-lightcyan);
}
.mask-child,
.mask-child1,
.mask-inner,
.mask-item {
  position: absolute;
  height: 55.04%;
  width: 42.43%;
  top: 1082.53%;
  right: -191.51%;
  bottom: -1037.56%;
  left: 249.08%;
  border-radius: 1.04px 0 0 0;
  background-color: var(--color-gainsboro-300);
}
.mask-child1,
.mask-inner,
.mask-item {
  height: 33.1%;
  right: -249.08%;
  bottom: -1015.63%;
  left: 306.65%;
  border-radius: 0 1.04px 0 0;
}
.mask-child1,
.mask-inner {
  top: 1149.43%;
  right: -191.51%;
  bottom: -1082.53%;
  left: 249.08%;
  border-radius: 0 0 0 1.04px;
}
.mask-child1 {
  height: 55.04%;
  top: 1127.49%;
  right: -249.08%;
  left: 306.65%;
  border-radius: 0 0 1.04px 0;
}
.mask {
  position: relative;
  background-color: var(--color-darkslategray-800);
  width: 15.2px;
  height: 15.71px;
}
.object1 {
  position: absolute;
  height: 1.96%;
  width: 16.52%;
  top: 21.23%;
  right: 42.33%;
  bottom: 76.81%;
  left: 41.15%;
}
.combined-shape-icon,
.combined-shape-icon1 {
  position: relative;
  width: 15.2px;
  height: 15.6px;
}
.combined-shape-icon1 {
  height: 15.2px;
}
.combined-shape-icon2 {
  position: relative;
  width: 14.41px;
  height: 15.75px;
}
.combined-shape-child,
.combined-shape-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 2960.55%;
  right: -251.06%;
  bottom: -2960.55%;
  left: 251.06%;
  border-radius: 1.04px;
  background-color: var(--color-gainsboro-300);
}
.combined-shape-item {
  height: 17.19%;
  width: 73.04%;
  top: 2970.09%;
  right: -237.34%;
  bottom: -2887.28%;
  left: 264.3%;
  border-radius: 0.52px;
}
.combined-shape-child1,
.combined-shape-child2,
.combined-shape-child3,
.combined-shape-inner {
  position: absolute;
  height: 17.23%;
  width: 17.8%;
  top: 3001.93%;
  right: -193.39%;
  bottom: -2919.16%;
  left: 275.59%;
  border-radius: 0.52px;
  background-color: var(--color-gainsboro-300);
}
.combined-shape-child1,
.combined-shape-child2,
.combined-shape-child3 {
  right: -226.04%;
  left: 308.24%;
}
.combined-shape-child2,
.combined-shape-child3 {
  top: 3030.1%;
  right: -193.39%;
  bottom: -2947.33%;
  left: 275.59%;
}
.combined-shape-child3 {
  right: -226.04%;
  left: 308.24%;
}
.combined-shape {
  position: relative;
  background-color: var(--color-silver-100);
  width: 15.1px;
  height: 15.6px;
}
.combined-shape-icon4 {
  position: relative;
  width: 15.79px;
  height: 15.79px;
}
.combined-shape-icon5 {
  position: relative;
  width: 15.01px;
  height: 15.2px;
}
.frame-inner {
  height: 4.24%;
  width: 36.96%;
  top: 91.26%;
  right: 33.7%;
  bottom: 4.49%;
  left: 29.35%;
  border-radius: var(--br-11xs);
  background-color: var(--color-silver-100);
}
.b1,
.frame-inner,
.oval {
  position: absolute;
}
.oval {
  height: 1.87%;
  width: 16.3%;
  top: 90.39%;
  right: 26.09%;
  bottom: 7.74%;
  left: 57.61%;
  border-radius: 50%;
  background-color: var(--color-darkslategray-800);
}
.b1 {
  top: calc(50% + 324.5px);
  left: 61.96%;
  letter-spacing: 0.14px;
}
.mask-icon15 {
  position: relative;
  width: 20px;
  height: 20px;
}
.rectangle-group {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 92px;
  height: 801px;
  overflow: hidden;
  font-size: var(--font-size-2xs);
  color: var(--color-lightcyan);
}
.neoai-logo-notext-200x200px-icon {
  position: absolute;
  top: 28px;
  left: 23px;
  width: 43px;
  height: 43px;
  object-fit: cover;
}
.wh-dashboard {
  position: relative;
  background-color: var(--primary-contrast);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
  font-family: var(--font-roboto);
}
